server:
  port: 8080

spring:
  config:
    import: optional:file:.env[.properties]

  security:
    user:
      name: admin
      password: admin
      roles: ADMIN

  datasource:
    url: jdbc:postgresql://localhost:5433/monolith_db
    username: iliyan
    password: secret

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

payment-service:
  url: http://localhost:8081

logging:
  level:
    demos.springdata.fitmanage: DEBUG
    org.hibernate.SQL: DEBUG
    org.springframework.web: INFO
    root: INFO