spring:
  application:
    name: FitManage

  profiles:
    active: dev

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SUPPORT_EMAIL}
    password: ${APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  datasource:
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 5

    jpa:
      open-in-view: false
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
          jdbc.lob.non_contextual_creation: true
          default_schema: public

security:
  jwt:
    secret-key: ${JWT_SECRET_KEY}
    expiration-time: 3600000
    refresh-token-expiration: 800600000

server:
  error:
    include-binding-errors: always
    include-message: always


management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
