management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

spring:
  security:
    user:
      name: admin
      password: admin
      roles: ADMIN

  profiles:
    include: secrets
    group:
      railway: railway,secrets

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${JDBC_DATABASE_URL:}
    username: ${JDBC_DATABASE_USERNAME}
    password: ${JDBC_DATABASE_PASSWORD:}
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 5

  jpa:
    database-platform: ${SPRING_JPA_DATABASE-PLATFORM:}
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

#  datasource:
#    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://localhost:3306/fitmanage?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
#    username: root
#    password: Iliyan1998.
#    hikari:
#      connection-timeout: 30000
#      maximum-pool-size: 5

#  jpa:
#    database-platform: org.hibernate.dialect.MySQL8Dialect
#    hibernate:
#      ddl-auto: update
#    open-in-view: false
#    properties:
#      hibernate:
#        format_sql: true

  application:
    name: FitManage

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SUPPORT_EMAIL}
    password: ${APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  config:
    import: optional:file:.env[.properties]

server:
  port: ${PORT:8080}
  error:
    include-binding-errors: always
    include-message: always

security:
  jwt:
    secret-key: ${JWT_SECRET_KEY}
    expiration-time: 3600000
    refresh-token-expiration: 800600000

logging:
  level:
    demos.springdata.fitmanage: DEBUG
    org.hibernate: ERROR
    org.springframework.web: INFO
    root: INFO
